.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

.git/
.github/
.gitignore
.idea/
.claude/
.pre-commit-config.yaml

docs/
*.md

/http
*.http

/cache
/data
/docker-compose.yaml
/example
/images
/projects
/scripts
/tasks
/tests
